# /etc/systemd/system/steam-gadget@.service
[Unit]
Description=Steam Deck Gadget function
BindsTo=steam-gadget-base.service
After=steam-gadget-base.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/deck/SteamDeckGadget
ExecStart=/home/deck/SteamDeckGadget/steam-gadget.py enable %i
ExecStop=/home/deck/SteamDeckGadget/steam-gadget.py disable %i


[Install]
WantedBy=multi-user.target
