# /etc/systemd/system/steam-gadget@mtp.service
[Unit]
Description=Steam Deck Gadget MTP function
BindsTo=steam-gadget-base.service
After=steam-gadget-base.service

[Service]
Type=exec
WorkingDirectory=/home/deck/SteamDeckGadget
ExecStartPre=/home/deck/SteamDeckGadget/steam-gadget.py enable mtp --no-activate
ExecStart=/home/deck/SteamDeckGadget/umtprd
ExecStartPost=/home/deck/SteamDeckGadget/steam-gadget.py activate
ExecStopPost=/home/deck/SteamDeckGadget/steam-gadget.py disable mtp

[Install]
WantedBy=multi-user.target
