# /etc/systemd/system/steam-gadget-base.service
[Unit]
Description=Steam Deck Gadget base

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/deck/SteamDeckGadget
ExecStart=/home/deck/SteamDeckGadget/steam-gadget.py setup
ExecStop=/home/deck/SteamDeckGadget/steam-gadget.py destroy

[Install]
WantedBy=multi-user.target
